################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibraryProjectSep2019
/LibraryProjectSep2019/bin/Debug/netcoreapp2.1
/LibraryProjectSep2019/obj/Debug/netcoreapp2.1
/LibraryProjectSep2019/obj
